.c-button{

    &__form{
        background : $color-bg__primary;
        color:$color-font__button;
        text-align:center;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }
}